body {
  background-color: #1a1a1a;
  color: #fff;
}

p {
  font-size: 1.6rem;
  margin-top: 1rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 2rem;
}

a {
	display: block;
	text-align: center;
	padding: 1rem;
	border: 1px solid #fff;
	border-radius: 5px;
	margin: 0.5rem;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}

a:hover {
	background-color: #fff;
	color: #1a1a1a;
}
